{% extends "registration/registration_base.html" %}
{% load static crispy_forms_tags i18n %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}


<h4>Hello! let's get started</h4>
<form class="pt-3" action="" method="post">
  {% csrf_token %}
  {{form|crispy}}
  <div class="mt-3">
    <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
  </div>

</form>

<div class="auth_footer mt-4">
  <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
  <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
</div>

{% endblock content %}
