{% extends 'app/base.html' %}
{% load static %}
{% block title %}Contacts{% endblock %}

{% block content %}

<div class="page-header">
    <h3 class="page-title"> Contacts </h3>
</div>

{% if request.user.is_superuser %}
<div class="row mb-3">
    <div class="col text-right">
        <a href="{% url 'core:new_contact' %}" class="btn btn-lg btn-gradient-primary">New Contact</a>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contacts</h4>
                {% if object_list %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover border" style="width:100%;">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> child name </th>
                                <th> email </th>
                                <th> phone </th>
                                <th> message </th>
                                <th> is checked </th>
                                {% if request.user.is_superuser %}<th> Actions </th>{% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td> {{object.child_name}} </td>
                                <td> {{object.email}} </td>
                                <td> {{object.phone}} </td>
                                <td> {{object.message}} </td>
                                <td> {{object.is_checked}} </td>
                                {% if request.user.is_superuser %}
                                <td>
                                    <a href="{{object.get_update_url}}" class="btn btn-sm btn-circle btn-info"><i class="mdi mdi-pencil"></i></a>
                                    <a href="{{object.get_delete_url}}" class="btn btn-sm btn-circle btn-danger"><i class="mdi mdi-delete"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <small class="mb-0">No Contact exists.</small>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock content %}
