{% extends 'app/base.html' %}
{% load static i18n extras %}
{% block title %}{% get_verbose_name_plural object_list %}{% endblock %}

{% block content %}

<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span> {% get_verbose_name_plural object_list %}
  </h3>
  {% if request.user.is_superuser %}
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{{new_link}}" class="btn btn-lg btn-gradient-primary">New {% get_verbose_name object_list %}</a>
      </li>
    </ul>
  </nav>
  {% endif %}
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
          {% if object_list %}
        {% block table %}

        {% endblock %}
        {% else %}
        <small class="mb-0">No {% get_verbose_name object_list %} exists.</small>
        {% endif %}
      </div>
    </div>
  </div>

</div>
{% endblock content %}
