<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Purple Admin{% endblock %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'app/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    {% block css_plugins %}{% endblock css_plugins %}
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'app/images/favicon.ico' %}" />
</head>

<body>


    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5 text-center">
                            {% block content %}

                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->




    <!-- plugins:js -->
    <script src="{% static 'app/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    {% block js_plugins %}{% endblock js_plugins %}
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'app/js/off-canvas.js' %}"></script>
    <script src="{% static 'app/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'app/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    {% block javascript %}{% endblock javascript %}
    <!-- End custom js for this page -->
</body>

</html>
