{% extends 'app/extends/object_list.html' %}
{% block table %}
<div class="table-responsive">
  <table class="table table-bordered table-hover border" style="width:100%;">
    <thead>
      <tr>
        <th> # </th>
        <th> title </th>
        <th> title (arabic) </th>
        <th> is active</th>
        {% if request.user.is_superuser %}<th> Actions </th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td> {{object.name}} </td>
        <td> {{object.is_active}} </td>
        {% if request.user.is_superuser %}
        <td>
          <a href="{{object.get_absolute_url}}" class="btn btn-sm btn-circle btn-primary"><i class="mdi mdi-eye"></i></a>
          <a href="{{object.get_update_url}}" class="btn btn-sm btn-circle btn-info"><i class="mdi mdi-pencil"></i></a>
          <a href="{{object.get_delete_url}}" class="btn btn-sm btn-circle btn-dark"><i class="mdi mdi-delete"></i></a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
